<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!--production-->
<key>PROJECT_UUID</key>
<string>5479798b-26a9-4943-b848-649bb104fdc3</string>
<key>PROJECT_CLIENT_KEY</key>
<string>cUKfeOA7rnNFCxSBtXE5byLgzIhzGrE4Y7rDdY4b</string>
<key>PROJECT_APP_UUID</key>
<string>6f912403-4f18-4166-8fd6-a02ba8a89719</string>

</dict>
</plist>
