<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>f836e807-4594-46be-a36c-e479f03a5fe8</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>ce0lPTlERmAeGLU146VzknCWChz1DtcHFC396cAD</string>
	<key>PROJECT_APP_UUID</key>
	<string>5f3636c3-4b2a-4afa-896e-b9bca8a8d88b</string>
</dict>
</plist>
